.signUpContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--page-background-color);
    font-family: "Nunito", sans-serif;
}

.signUpFormContainer{
    max-width: 350px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manualSignupForm{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.signUpFormContainer h3{
    font-size: 25px;
    font-weight: 800;
    margin-bottom: 10px;
    color: var(--font-color);
}

.signUpFormContainer p{
    margin: 10px 0;
    font-size: 20px;
    font-weight: 800;
}

.manualSignupForm input{
    background-color: transparent;
    border: 1px solid #adb5bd;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.manualSignupForm button{
    height: 40px;
    background-color: var(--background-color);
    color: var(--font-color);
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Nunito", sans-serif;
}

.manualSignupForm button:hover{
    opacity: .8;
}

.signUpFormContainer span{
    font-size: 13px;
    margin-top: 5px;
    cursor: pointer;
}

.signUpFormContainer span:hover{
    text-decoration: underline;
}

.signinRedirect{
    color: var(--font-color);
}