.transactionWindowContainer{
    position: fixed;
    height: 100dvh;
    width: 100dvw;
    background-color: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainWindow{
    max-width: 350px;
    width: 100%;
    padding: 40px 20px;
    padding-top: 50px;
    background-color: var(--background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: relative;
}

.mainWindow input{
    background-color: transparent;
    border: 1px solid #adb5bd;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.mainWindow input::placeholder{
    color: var(--font-color);
}

.depositBtn{
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    background-color: #80ed99;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}


.depositBtn:hover{
    opacity: .8;
}

.withdrawBtn{
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 600;
    font-family: "Nunito", sans-serif;
    background-color: #f07167;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.withdrawBtn:hover{
    opacity: .8;
}

.cancelBtn{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 25px;
    cursor: pointer;
    color: var(--page-background-color);
}