.usersContainer{
    flex: 1;
    background: var(--page-background-color);
    padding: 30px 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usersCount{
    color: #ffff;
    font-size: 30px;
}

.usersCount span{
    color: var(--title-font-color);
}

.usersContainer input{
    background-color: transparent;
    border: 1px solid #adb5bd;
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    color: var(--font-color);
    font-weight: 700;
    font-family: "Nunito", sans-serif;
}

.allUsers{
    width: 100%;
}

.allUsers li{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--background-color);
    padding: 10px 10%;
    cursor: pointer;
}

.allUsers li:hover{
    background-color:#415a77;
}

.name{
    color: #ffff;
}

.balance{
    color: var(--title-font-color);
}

.notfoundMessage{
    width: 100%;
    text-align: center;
    color: var(--title-font-color);
    font-size: 20px;
}